.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.productslist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 5px;

  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 5px;
    margin: 5px;

    .product-image {
      width: 100%;
    }
  }
}